@import url('https://fonts.googleapis.com/css?family=Sacramento|Open+Sans:400,600');

html {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  width: 100%;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  color: #181818;
  font: 400 16px 'Open Sans', sans-serif;
  background-image: 
    url("https://source.unsplash.com/category/nature/1600x900/daily");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  margin: 1rem;
}

h1, h3, h4, a, p {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

#wrapper {
  display: flex;
  background: #fff;
  border-radius: 25px;
  min-height: 100vh;
  flex-direction: column;
  max-width: 38rem;
  margin: 0 auto;
}

header, main, footer {
  margin: 1rem 0;  
  padding-left: 1rem;
  padding-right: 1rem;
}

/* Header */
header {
  margin-top: 2rem;
}

header h1 {
  font: 700 3em 'Sacramento', cursive;
  text-align: center;
}

/* Main */
main {
  flex: 1;
}

main h1 {
  font-size: 1.5em;
  letter-spacing: 0.5px;
  text-align: center;
  margin: 1.5rem 0;
}

main h3 {
  font-size: 1.125em;
  text-align: center;
  margin: 1rem 0;
}

main h4 {
  font-size: 1em;
  margin: 1rem 0;
}

main p {
  margin-bottom: 0.75rem;
  line-height: 1.5em;
}

main sup {
  font-size: 0.625em;
  vertical-align: baseline;
  position: relative;
  top: -0.4rem;
  margin: 0 2px 0 5px;
}

/* Footer */
footer {
  margin-bottom: 2rem;
}

footer p {
  font-size: 0.813em;
}

footer a {
  color: #181818;
  text-decoration: underline;
}

/* Media Queries */
@media (min-width: 400px) {
  main h1 {
    font-size: 1.5em;
  }

  header h1 {
    font-size: 4em;
  }
}

@media (min-width: 500px) {
  header, main, footer {
    padding-left: 2rem;
    padding-right: 2rem;
  }
}